/*
    azul: #0093c6
    lila: #cc86bf
    gris: #D8D8D8
*/

* {
    margin: 0px;
    padding: 0px;
}

body, html {
    height: 100%;
}

body {
    background-color: #D8D8D8;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover !important;
    color: inherit;
}

header {
    display: flex !important;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 10%;
    background-color: black;
    color: white;
}

header > h3, h4.titulo, aside h4 {
    font-family: 'Candal';
    background-color: inherit;
    color: #0093c6;
    text-shadow: 1px 1px #000000;
}

header > h3 {
    width: 20%;
}

.logo {
    height: 100%;
    width: 50%;
    background-color: #D8D8D8;
}

.user {
    display: flex;
    flex-direction: row;
    margin-top: 2em;
    margin-right: 2em;
}

.user .btn-primary {
    height: 20px !important;
}

.user > label {
    margin-right: 0.5em;
}

nav {
    width: 50%;
    display: flex !important;
    flex-direction: row;
    justify-content: space-around;
}

.group h4 {
    padding-left: 0.5em;
}

.group span {
    cursor: pointer;
    padding: 0.5em;
}

header li > a {
    color: white;
    text-decoration: none;
}

header li > a:hover {
    color: white;
    text-decoration: none;
}

header ul {
    padding: 0.5em;
    margin: 0;
}

header li {
    display: block;
    float: left;
    position: relative;
    padding: 0.5em;
}

header ul ul {
    position: absolute;
    display: none;
}

header li:hover {
    background-color: #6A6969;
}

header li:hover ul {
    display: block;
    background-color: #696969;
    position: absolute;
    margin-right: 27px;
}

header li:hover ul li:hover {
    background-color: #8C8C8C;
}

#contenido {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: 90%;
}

aside {
    background-color: white;
    color: inherit;
    width: 15%;
    height: 100%;
    border-right: 1px solid black;
    overflow-y: auto;
    overflow-x: auto;
}

aside > div {
    cursor: pointer;
    border: 1px solid gray;
    background-color: rgba(0, 147, 198, 0.5);
    color:inherit;
    margin: 5px;
}

aside > div:hover {
    background-color: rgba(0, 147, 198, 1);
    color: white;
}

aside > div > * {
    margin-left: 5px;
}

aside h4 {
    font-size: 1.5em;
    margin-left: 5px;
}

aside ul li:before {
    content: "\00BB";
}

.destacado {
    font-weight: bold;
    color: white;
    cursor: default;
    background-color: rgba(0, 147, 198, 1);
}

#ficha {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    margin-top: 0;
    text-align: center;
}

#ficha > * {
    margin: auto;
    margin-top: 5em;
}

#ficha > h4 {
    font-size: 3em;
    cursor: pointer;
}

#ficha > p {
    font-size: 1.5em;
    cursor: pointer;
    width: 75%;
}

.botones {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.botones > button {
    margin: 5px;
}

.ocultoTitl, .ocultoText {
    display: none;
}

.ocultoTitl button, .ocultoText button {
    margin-top: 5px;
}
