body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  background: linear-gradient(#000, #D8D8D8);
  background: -webkit-linear-gradient(#000, #D8D8D8);
  background: -o-linear-gradient(#000, #D8D8D8);
  background: -moz-linear-gradient(#000, #D8D8D8);
  background-repeat: no-repeat;
}

header {
    margin: 1em;
    width: 97%;
    display: flex !important;
    flex-direction: row;
    justify-content: space-between;
    background-color: #D8D8D8;
}

.logo {
    height: 50%;
    width: 50%;
}

.btn-primary {
    height: 20% !important;
    margin-top: 4em;
    margin-right: 3em;
}

div#contenido {
  margin: 1em;
  width: 97%;
  background-color: #D8D8D8;
}

footer {
  margin: 1em;
  width: 97%;
  background-color: #D8D8D8;
}
